.leftContainer {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 60px;
    border: 2px solid white;
    border-radius: 10px;
}

p{
    margin-left: 15px;
}